{% extends 'base.html' %}
{% load static %}
{% block title %}
Trucks
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'trucks/style.css' %}">
{% endblock %}

{% block body %}
    <form method="get" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
    <table>
            <tr>
                <th>Бортовой Номер</th>
                <th>Модель</th>
                <th>Макс. грузоподъемность</th>
                <th>Текущий вес</th>
                <th>Перегруз %</th>
            </tr>

        <tbody>
        {% for truck in object_list %}
            <tr>
                <th>{{truck.side_number}}</th>
                <th>{{truck.truck_model.name}}</th>
                <th>{{truck.truck_model.load_capacity}}</th>
                <th>{{truck.current_weight}}</th>
                <th>{{truck.overload_percentage|floatformat }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
