<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
    {% block title %}
    {% endblock title %}
    </title>

    {% block head %}
    {% endblock head %}
</head>
<body>
    {% block body %}
    {% endblock body %}
</body>
</html>